:where(html) {
  /* Input text */
  --input-font-size: 1.6rem; /* 16px */
  --theme-input-placeholder-font-size: 1.4rem;

  /* Button text */
  --button-font-size: 1.6rem; /* 16px */
  --button-line-height: 1.4;
  --button-font-weight: 600;
  --button-text-transform: none;
}
