:where(html) {
  /* Label */
  --field-label-font-size: 1.4rem; /* 14px */
  --field-label-font-weight: 500;
  --field-label-line-height: 1.3;

  /* Input text */
  --input-font-size: 1.6rem; /* 16px */
  --input-line-height: 1.4;

  /* Button text */
  --button-font-size: 1.6rem; /* 16px */
  --button-line-height: 1.4;
  --button-font-weight: 600;

  /* Description */
  --field-description-font-size: 1.3rem;
  --field-description-line-height: 1.4;

  /* Error */
  --field-error-font-size: 1.3rem;
  --field-error-font-weight: 500;
}
