:where(html) {
  /* Padding */
  --input-padding-block: 0rem; /* 10px */
  --input-padding-inline: 1.2rem; /* 12px */

  /* With slots */
  --input-padding-inline-with-icon: 3.2rem;

  /* Border */
  --input-border-width: 0.1rem; /* 1px */
  --input-border-radius: 0.8rem; /* 8px */

  /* Focus */
  --input-focus-ring-width: 0.2rem; /* 2px */
  --input-focus-ring-offset: 0.2rem;

  /* Underlined variant */
  --input-underline-width: 0.2rem;

  /* Min height */
  --input-min-height: 4.4rem; /* ~40px tap target */
  --input-element-line-height: 3.1;

  /* Element specific */

  /* Textarea */
  --input-textarea-line-height: 1.75;

  /* Select */
  --input-select-option-min-height: 3.6rem;
  --input-select-option-padding-block: 0rem;
  --input-select-option-padding-inline: 1.75rem;
}
