@keyframes entrySlideInAnimation {
  from {
    transform: translateY(200px);
  }
  to {
    transform: translateY(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .entry-slide-in {
    animation: entrySlideInAnimation forwards;
    animation-timeline: view(70% 5%);
  }
}
