html {
  color-scheme: light dark;
  interpolate-size: allow-keywords;

  &.light {
    color-scheme: light;
  }

  &.dark {
    color-scheme: dark;
  }

  /* background-color: var(--page-bg); */

  font-size: 62.5%;

  transition:
    background-color 0.4s ease,
    color 0.4s ease;
  scrollbar-gutter: stable;

  overflow-x: clip;
}
body {
  color: var(--grayscale-text-body);
  font-family: var(--font-family);
  font-size: var(--step-4);
  min-height: 100vh;
  transition:
    background-color 0.4s ease,
    color 0.4s ease;

  overflow-x: clip;
}
