html {
  color-scheme: light dark;
  interpolate-size: allow-keywords;

  background-color: var(--page-bg);

  font-size: 62.5%;

  transition:
    background-color 0.4s ease,
    color 0.4s ease;
  scrollbar-gutter: stable;

  overflow-x: clip;
}
body {
  /* color: var(--grayscale-text-body); */
  color: light-dark(black, white);
  background-color: light-dark(white, black);
  font-family: var(--font-family);
  font-size: var(--step-4);
  min-height: 100vh;
  transition:
    background-color 0.4s ease,
    color 0.4s ease;

  overflow-x: clip;

  &.light {
    color-scheme: light;
  }

  &.dark {
    color-scheme: dark;
  }

  &.system {
    color-scheme: light dark;
  }
}
