:where(html) {
  &.dark {
    /* Generic */
    --theme-box-shadow: var(--colour-theme-12);

    /* Fieldset & Label */
    --form-fieldset-legend-color: var(--gray-1);
    --form-label-color: var(--gray-1);

    /* Description */
    --form-description-color: var(--gray-1);

    /* Input Elements */
    --theme-input-surface: var(--gray-8);
    --theme-input-surface-hover: var(--gray-12);

    --theme-input-border: var(--gray-4);
    --theme-input-border-hover: var(--gray-5);
    --theme-input-border-focus: var(--gray-5);

    --theme-input-outline: transparent;
    --theme-input-outline-hover: var(--gray-5);
    --theme-input-outline-focus: var(--gray-5);

    --theme-input-text: var(--gray-0);
    --theme-input-text-hover: var(--gray-0);
    --theme-input-text-focus: var(--gray-0);
    --theme-input-placeholder: var(--gray-5);

    /* Checkboxes & Radio buttons */
    --theme-checkbox-label-text-color: var(--gray-1);
    --theme-checkbox-decorator-color: var(--gray-1);
    --theme-checkbox-symbol-surface: var(--theme-input-surface);
    --theme-checkbox-symbol-color: var(--gray-1);

    /* Toggle Switch */
    --theme-toggle-wrapper-surface-color: var(--theme-input-surface);
    --theme-toggle-wrapper-surface-color-hover: var(--theme-input-surface-hover);
    --theme-toggle-symbol-surface-color: var(--blue-11);
    --theme-toggle-symbol-border-color: var(--gray-11);
    --theme-toggle-symbol-outline-color: transparent;
    --theme-toggle-symbol-icon-color: var(--gray-0);

    /* a11y */
    --theme-focus-visible-shadow: var(--colour-theme-12);
    --theme-focus-visible-outline: var(--colour-theme-12);

    /* Buttons */
    --theme-button-surface: var(--gray-4);
    --theme-button-surface-hover: var(--gray-5);

    --theme-button-border: var(--gray-4);
    --theme-button-border-hover: var(--gray-5);
    --theme-button-border-focus: var(--gray-5);

    --theme-button-outline: transparent;
    --theme-button-outline-hover: var(--gray-5);
    --theme-button-outline-focus: var(--gray-5);

    --theme-button-text: var(--gray-0);
    --theme-button-text-hover: var(--gray-0);
    --theme-button-text-focus: var(--gray-0);
  }
}
