:where(html) {
  /* Generic */
  --theme-box-shadow: var(--colour-theme-12);

  /* Fieldset & Label */
  --form-fieldset-legend-color: light-dark(var(--slate-10), var(--slate-01));
  --form-label-color: light-dark(var(--slate-10), var(--slate-01));

  /* Description */
  --form-description-color: light-dark(var(--slate-10), var(--slate-01));

  /* Input Elements */
  --theme-input-surface: light-dark(var(--slate-01), var(--slate-08));
  --theme-input-surface-hover: light-dark(var(--slate-01), var(--slate-10));

  --theme-input-border: light-dark(var(--slate-09), var(--slate-04));
  --theme-input-border-hover: light-dark(var(--slate-10), var(--slate-05));
  --theme-input-border-focus: light-dark(var(--slate-10), var(--slate-05));

  --theme-input-outline: transparent;
  --theme-input-outline-hover: light-dark(var(--slate-10), var(--slate-05));
  --theme-input-outline-focus: light-dark(var(--slate-10), var(--slate-05));

  --theme-input-text: var(--slate-00);
  --theme-input-text-hover: var(--slate-00);
  --theme-input-text-focus: var(--slate-00);
  --theme-input-placeholder: light-dark(var(--slate-07), var(--slate-05));

  /* Checkboxes & Radio buttons */
  --theme-checkbox-label-text-color: light-dark(var(--slate-10), var(--slate-01));
  --theme-checkbox-decorator-color: light-dark(var(--slate-10), var(--slate-01));
  --theme-checkbox-symbol-surface: var(--theme-input-surface);
  --theme-checkbox-symbol-color: light-dark(var(--slate-10), var(--slate-01));

  /* Toggle Switch */
  --theme-toggle-wrapper-surface-color: var(--theme-input-surface);
  --theme-toggle-wrapper-surface-color-hover: var(--theme-input-surface-hover);
  --theme-toggle-symbol-surface-color: var(--blue-10);
  --theme-toggle-symbol-border-color: var(--slate-10);
  --theme-toggle-symbol-outline-color: transparent;
  --theme-toggle-symbol-icon-color: var(--slate-00);

  /* a11y */
  --theme-focus-visible-shadow: var(--colour-theme-12);
  --theme-focus-visible-outline: var(--colour-theme-12);

  /* Buttons */
  --theme-button-surface: light-dark(var(--slate-05), var(--slate-04));
  --theme-button-surface-hover: light-dark(var(--slate-06), var(--slate-05));

  --theme-button-border: light-dark(var(--slate-09), var(--slate-04));
  --theme-button-border-hover: light-dark(var(--slate-10), var(--slate-05));
  --theme-button-border-focus: light-dark(var(--slate-10), var(--slate-05));

  --theme-button-outline: transparent;
  --theme-button-outline-hover: light-dark(var(--slate-10), var(--slate-05));
  --theme-button-outline-focus: light-dark(var(--slate-10), var(--slate-05));

  --theme-button-text: var(--slate-00);
  --theme-button-text-hover: var(--slate-00);
  --theme-button-text-focus: var(--slate-00);
}
