:where(html.dark [data-theme="warning"]) {
  /* ===========================================
     COLOR SCALE VARIABLES
     Base color tokens for the warning theme
     =========================================== */
  --colour-theme-1: var(--orange-1);
  --colour-theme-2: var(--orange-2);
  --colour-theme-3: var(--orange-3);
  --colour-theme-4: var(--orange-4);
  --colour-theme-5: var(--orange-5);
  --colour-theme-6: var(--orange-6);
  --colour-theme-7: var(--orange-7);
  --colour-theme-8: var(--orange-8);
  --colour-theme-9: var(--orange-9);
  --colour-theme-10: var(--orange-10);
  --colour-theme-11: var(--orange-11);
  --colour-theme-12: var(--orange-12);

  /* ===========================================
     FORM INPUT VARIABLES
     Styling for form inputs and controls
     =========================================== */
  --theme-input-border: var(--orange-5);
  --theme-input-border-focus: var(--orange-4);

  /* Input outlines and focus */
  --theme-input-outline: var(--orange-5);

  /* ===========================================
     FORM BUTTON VARIABLES
     Styling for form buttons and controls
     =========================================== */

  /* Variant Primary */
  --theme-button-primary-border: var(--sunset-07);
  --theme-button-primary-border-active: var(--sunset-07);
  --theme-button-primary-text: white;
  --theme-button-primary-text-hover: var(--sunset-00);

  /* Variant Secondary */
  /* --theme-button-secondary-surface: var(--sunset-01); */
  /* --theme-button-secondary-border-active: var(--sunset-01); */
  --theme-button-secondary-text: var(--sunset-05);

  /* Variant Tertiary */
  --theme-button-tertiary-surface: transparent;
  --theme-button-tertiary-text: var(--sunset-05);
  --theme-button-tertiary-border-active: var(--sunset-05);
  --theme-button-tertiary-outline-active: var(--sunset-05);
}
