:where(html) {
  --focus-box-shadow-colour-off: transparent;
  --focus-box-shadow-colour-on: var(--blue-10);
  --form-focus-box-shadow: 0 0 0 0.3rem;

  --box-shadow-off: 0 0 0 0.3rem transparent;
  --box-shadow-on: 0 0 0 0.3rem var(--blue-10);
}
