:where(html.dark [data-theme="success"]) {
  --theme-input-border: var(--green-6);
  --theme-input-border-hover: var(--green-5);
  --theme-input-border-focus: var(--green-4);

  --theme-input-focus-ring: var(--green-4);

  /* buttons */
  --theme-button-surface: var(--green-9);
  --theme-button-surface-hover: var(--green-8);
  --theme-button-surface-active: var(--green-7);

  --theme-button-border: var(--green-7);
  --theme-button-text: var(--green-0);

  --theme-button-focus-ring: var(--green-4);
}
