@import "./_x-small";
@import "./_small";
@import "./_default";
@import "./_medium";
@import "./_large";

:where(html) {
  --form-element-padding-block-start: 0.4lh;
  --form-element-padding-block-end: 0.4lh;
  --form-element-border-width: 0.2rem;
  --form-element-border-width-underlined: 0.4rem;
  --form-element-outline-width: 0.1rem;
  --form-element-outline-offset-focus: 0.2rem;

  --form-text-padding-inline: 0.5em;
  --form-button-padding-inline: 1.25em;
  --form-button-icon-gap: 1em;
  --form-input-border-radius: 0.4rem;
  --form-input-border-radius-underlined: 0;

  --input-element-padding-block: 1.25rem;
  --input-element-padding-inline: 1rem;
}

:where(html) {
  --button-padding-block: 0.75rem;
  --button-padding-inline: 1.25em;
  --button-border-radius: 0.4rem;
  --button-border-radius-icon-only: 100vw;
  --button-border-width: 0.2rem;
  --button-border-width-focus: 0.2rem;
  --button-outline-width-focus: 0.1rem;
  --button-outline-offset: 0.2rem;
  --button-outline-offset-focus: 0.2rem;
  --button-icon-gap: 1em;
}
