:where(html.dark [data-theme="primary"]) {
  --theme-input-border: var(--blue-6);
  --theme-input-border-hover: var(--blue-5);
  --theme-input-border-focus: var(--blue-4);

  --theme-input-focus-ring: var(--blue-4);

  /* buttons */
  --theme-button-surface: var(--gray-9);
  --theme-button-surface-hover: var(--gray-8);
  --theme-button-surface-active: var(--gray-7);

  --theme-button-border: var(--gray-7);
  --theme-button-text: var(--gray-0);

  --theme-button-focus-ring: var(--gray-4);
}
