:where([data-theme="primary"]) {
  --theme-input-border: var(--blue-4);
  --theme-input-border-hover: var(--blue-6);
  --theme-input-border-focus: var(--blue-8);

  --theme-input-focus-ring: var(--blue-5);

  /* buttons */
  --theme-button-surface: var(--blue-2);
  --theme-button-surface-hover: var(--blue-3);
  --theme-button-surface-active: var(--blue-4);

  --theme-button-border: var(--blue-4);
  --theme-button-text: var(--blue-12);

  --theme-button-focus-ring: var(--blue-8);
}
