:where(html) {
  /* surfaces */
  --theme-input-surface: var(--gray-0);
  --theme-input-surface-hover: var(--gray-0);
  --theme-input-surface-focus: var(--gray-0);

  /* borders */
  --theme-input-border: var(--gray-4);
  --theme-input-border-hover: var(--gray-6);
  --theme-input-border-focus: var(--gray-8);

  /* text */
  --theme-input-text: var(--gray-12);
  --theme-input-placeholder: var(--gray-7);
  --theme-label-text: var(--gray-11);
  --theme-help-text: var(--gray-9);

  /* focus & outline */
  --theme-input-focus-ring: var(--gray-8);
  --theme-input-outline: transparent;

  /* disabled */
  --theme-input-surface-disabled: var(--gray-1);
  --theme-input-border-disabled: var(--gray-3);
  --theme-input-text-disabled: var(--gray-7);

  /* buttons */
  --theme-button-surface: var(--gray-2);
  --theme-button-surface-hover: var(--gray-3);
  --theme-button-surface-active: var(--gray-4);

  --theme-button-border: var(--gray-4);
  --theme-button-text: var(--gray-12);

  --theme-button-focus-ring: var(--gray-8);
}
