:where(html.dark [data-error]),
:where(html.dark [data-theme="error"]) {
  --theme-input-border: var(--red-5);
  --theme-input-border-focus: var(--red-4);
  --theme-input-focus-ring: var(--red-4);

  /* buttons */
  --theme-button-surface: var(--red-9);
  --theme-button-surface-hover: var(--red-8);
  --theme-button-surface-active: var(--red-7);

  --theme-button-border: var(--red-7);
  --theme-button-text: var(--red-0);
  --theme-button-text-hover: var(--red-0);

  --theme-button-focus-ring: var(--red-4);
}
