:where([data-invalid]),
:where([data-theme="error"]) {
  /* ===========================================
     COLOR SCALE VARIABLES
     Base color tokens for the error theme
     =========================================== */
  --colour-theme-1: var(--red-01);
  --colour-theme-2: var(--red-02);
  --colour-theme-3: var(--red-03);
  --colour-theme-4: var(--red-04);
  --colour-theme-5: var(--red-05);
  --colour-theme-6: var(--red-06);
  --colour-theme-7: var(--red-07);
  --colour-theme-8: var(--red-08);
  --colour-theme-9: var(--red-09);
  --colour-theme-10: var(--red-10);
  --colour-theme-11: var(--red-10);
  --colour-theme-12: var(--red-10);

  /* ===========================================
     FORM ERROR DISPLAY
     =========================================== */
  --input-error-color: white;
  --theme-error-surface: var(--red-06);
  --theme-error-border: var(--red-06);
  --theme-error-outline: var(--red-01);

  /* ===========================================
     FORM INPUT VARIABLES
     Styling for form inputs and controls
     =========================================== */
  --theme-input-border: var(--red-06);
  --theme-input-border-focus: var(--red-04);
  --theme-input-border-hover: var(--red-04);

  /* Input outlines and focus */
  --theme-input-outline: var(--red-01);
  --theme-input-outline-focus: var(--red-04);
  --theme-input-visible-outline: var(--red-04);
  --theme-focus-visible-shadow: 0 0 0 2px var(--red-02);

  /* ===========================================
     FORM BUTTON VARIABLES
     Styling for form buttons and controls
     =========================================== */

  /* Variant Primary */
  --theme-button-primary-surface: var(--red-09);
  --theme-button-primary-surface-hover: var(--red-08);
  --theme-button-primary-surface-active: var(--red-07);
  --theme-button-primary-border: var(--red-09);
  --theme-button-primary-border-active: var(--red-09);
  --theme-button-primary-outline: var(--red-01);
  --theme-button-primary-outline-active: var(--red-07);
  --theme-button-primary-text: var(--red-00);
  --theme-button-primary-text-hover: var(--red-00);

  /* Variant Secondary */
  --theme-button-secondary-surface: transparent;
  --theme-button-secondary-surface-hover: var(--red-01);
  --theme-button-secondary-surface-active: var(--red-01);
  --theme-button-secondary-border: var(--red-09);
  --theme-button-secondary-border-active: var(--red-09);
  --theme-button-secondary-outline: var(--red-09);
  --theme-button-secondary-outline-active: var(--red-09);
  --theme-button-secondary-text: var(--red-09);
  --theme-button-secondary-text-hover: var(--red-09);

  /* Variant Tertiary */
  --theme-button-tertiary-surface: var(--slate-01);
  --theme-button-tertiary-text: var(--red-09);
  --theme-button-tertiary-border-active: var(--red-09);
  --theme-button-tertiary-outline-active: var(--red-09);
}
