:where([data-error]) {
  --theme-input-border: var(--red-6);
  --theme-input-border-hover: var(--red-7);
  --theme-input-border-focus: var(--red-8);
  --theme-input-focus-ring: var(--red-6);
  --theme-help-text: var(--red-7);

  /* buttons */
  --theme-button-surface: var(--red-2);
  --theme-button-surface-hover: var(--red-3);
  --theme-button-surface-active: var(--red-4);

  --theme-button-border: var(--red-4);
  --theme-button-text: var(--red-12);

  --theme-button-focus-ring: var(--red-8);
}
