:where(html.dark [data-theme="success"]) {
  --theme-input-border: var(--orange-6);
  --theme-input-border-hover: var(--orange-5);
  --theme-input-border-focus: var(--orange-4);

  --theme-input-focus-ring: var(--orange-4);

  /* buttons */
  --theme-button-surface: var(--orange-9);
  --theme-button-surface-hover: var(--orange-8);
  --theme-button-surface-active: var(--orange-7);

  --theme-button-border: var(--orange-7);
  --theme-button-text: var(--orange-0);
  --theme-button-text-hover: var(--orange-0);

  --theme-button-focus-ring: var(--orange-4);
}
