:where(html) {
  --amber-01: oklch(0.945 0.064 75);
  --amber-02: oklch(0.894 0.11 75);
  --amber-03: oklch(0.788 0.177 75);
  --amber-04: oklch(0.733 0.194 75);
  --amber-05: oklch(0.592 0.188 75);
  --amber-06: oklch(0.501 0.166 75);
  --amber-07: oklch(0.433 0.144 75);
  --amber-08: oklch(0.383 0.123 75);
  --amber-09: oklch(0.338 0.1 75);
  --amber-10: oklch(0.288 0.072 75);
}
