:where(html) {
  /* --blue-0: #e7f5ff;
  --blue-1: #d0ebff;
  --blue-2: #a5d8ff;
  --blue-3: #74c0fc;
  --blue-4: #4dabf7;
  --blue-5: #339af0;
  --blue-6: #228be6;
  --blue-7: #1c7ed6;
  --blue-8: #1971c2;
  --blue-9: #1864ab;
  --blue-10: #145591;
  --blue-11: #0043c1;
  --blue-12: #0e01cd; */

  /* OKLCH Set */
  --blue-0: oklch(98% 0.02 255);
  --blue-1: oklch(94% 0.04 255);
  --blue-2: oklch(88% 0.07 255);
  --blue-3: oklch(80% 0.11 255);
  --blue-4: oklch(72% 0.15 255);
  --blue-5: oklch(64% 0.19 255);
  --blue-6: oklch(56% 0.22 255);
  --blue-7: oklch(48% 0.21 255);
  --blue-8: oklch(40% 0.19 255);
  --blue-9: oklch(32% 0.17 255);
  --blue-10: oklch(25% 0.14 255);
  --blue-11: oklch(20% 0.18 260);
  --blue-12: oklch(16% 0.22 265);
}
