:where(html) {
  /* HEX Set */
  /*
  --gray-0: #f8f9fa;
  --gray-1: #f1f3f5;
  --gray-2: #e9ecef;
  --gray-3: #dee2e6;
  --gray-4: #ced4da;
  --gray-5: #adb5bd;
  --gray-6: #868e96;
  --gray-7: #495057;
  --gray-8: #343a40;
  --gray-9: #212529;
  --gray-10: #16191d;
  --gray-11: #0d0f12;
  --gray-12: #030507;
  */

  /* OKLCH Set */
  --gray-0: oklch(97.45% 0.004 258.67);
  --gray-1: oklch(94.89% 0.005 258.98);
  --gray-2: oklch(92.34% 0.006 259.09);
  --gray-3: oklch(88.79% 0.007 259.36);
  --gray-4: oklch(83.18% 0.009 259.83);
  --gray-5: oklch(72.63% 0.012 260.75);
  --gray-6: oklch(58.02% 0.015 262.15);
  --gray-7: oklch(33.49% 0.018 264.52);
  --gray-8: oklch(25.29% 0.020 265.88);
  --gray-9: oklch(16.47% 0.021 267.95);
  --gray-10: oklch(11.18% 0.021 269.09);
  --gray-11: oklch(6.47% 0.020 270.55);
  --gray-12: oklch(2.35% 0.015 275.49);

}
