:where(html) {
  --sunset-01: oklch(0.98 0.06 45);
  --sunset-02: oklch(0.92 0.08 50);
  --sunset-03: oklch(0.82 0.12 55);
  --sunset-04: oklch(0.75 0.18 50);
  --sunset-05: oklch(0.7 0.2 48);
  --sunset-06: oklch(0.65 0.22 45);
  --sunset-07: oklch(0.6 0.22 40);
  --sunset-08: oklch(0.5 0.2 35);
  --sunset-09: oklch(0.4 0.18 30);
  --sunset-10: oklch(0.3 0.15 25);
}
